@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #054461;
  text-align: center;
}

#btn{
  width: 200px;
  height: 200px;
  font-family: 'Baloo Tammudu 2';
  font-size: 2rem;
  color: #243E36;
  background-color: #98CE00;
  border-radius: 50%;
  border: none;
  margin: auto;
  transform: translateY(50%);
  cursor: pointer;
  box-shadow: 0 9px #04374E;
}

#btn:hover{
  background-color: #698F00;
  color: #162722;
}

#btn:active{
  box-shadow: 0 5px #021C27;
  transform: translateY(104px);
}

#resultado{
  font-family: 'Baloo Tammudu 2';
  font-size: 2rem;
  color: white;
  transform: translateY(160%);
}

#tempo{
  font-family: 'Baloo Tammudu 2';
  font-size: 2rem;
  color: white;
  transform: translateY(160%);
}

#media{
  font-family: 'Baloo Tammudu 2';
  font-size: 2rem;
  color: white;
  transform: translateY(160%);
}
